{% extends 'base.html' %} {% block title %} TODO home {% endblock %} {% block
content %}

<section class="body my-5 py-5">
  <!-- <div class="list-group">
        <li class="list-group-item list-group-item-action p-0">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Cras justo odio</h5>
              <p class="card-text text-muted">This is a longer card with supporting text below.</p>
            </div>
          </div>
          
        </li>
        <li  class="list-group-item list-group-item-action">Dapibus ac facilisis in</li>
        <li  class="list-group-item list-group-item-action">Morbi leo risus</li>
        <li  class="list-group-item list-group-item-action">Porta ac consectetur ac</li>
        <li  class="list-group-item list-group-item-action">Vestibulum at eros</li>
      </div> -->

  <div class="card-deck rounded">
    <div class="row no-gutters">
      <!-- <div class="col-12 col-md-4 col-lg-3 p-1 m-0">
        <div class="card w-100 h-100">
          <!-- <img class="card-img-top" src="..." alt="Card image cap"> 

          <div class="card-body" data-id="0">
            <h5 class="card-title">hey everyone</h5>
            <p class="card-text">
              testing the card functionality additional content. This content is
              a little bit longer.
            </p>
            <p class="card-text">
              <small class="text-muted">Last updated 3 mins ago</small>
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 col-lg-3 p-1 m-0">
        <div class="card w-100 h-100">
          <!-- <img class="card-img-top" src="..." alt="Card image cap"> 

          <div class="card-body" data-id="1">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
            <p class="card-text">
              <small class="text-muted">Last updated 3 mins ago</small>
            </p>
          </div>
        </div>
      </div> -->
    </div>
  </div>

  <!-- bottom navigation -->
  <div
    class="col-12 w-100 fixed-bottom text-center"
    style="height: 8vh !important"
  >
    All Todo's
  </div>
</section>

<!-- new TODO form -->
<section>
  <div class="row no-gutters d-none full_todo_section w-100 h-100">
    <!-- top navigations -->
    <div class="col-12 fixed-top w-100" style="height: 8vh !important">
      <button class="btn btn-default text-dark float-left pt-3" id="backButton">
        <svg
          class="svg-inline--fa fa-angle-left fa-w-8"
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="angle-left"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 256 512"
          data-fa-i2svg=""
          style="font-size: 24px"
        >
          <path
            fill="currentColor"
            d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"
          ></path>
        </svg>
      </button>
    </div>

    <!-- form -->
    <div class="col-12 p-0" style="height: 84vh !important">
      <form
        class="d-flex w-100 h-100 p-2 justify-content-center align-items-start"
        id="newTodoForm"
      >
        <div class="row no-gutters">
          <div class="col-12">
            <div class="form-group m-0">
              <input
                type="text"
                class="form-control form-control-lg"
                id="formTitle"
                placeholder="title"
              />
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <textarea
                name="form-textArea"
                id="formTextarea"
                class="form-control w-100"
                placeholder="type here"
              ></textarea>
            </div>
          </div>

          <button type="submit" class="btn btn-primary">submit</button>
        </div>
      </form>
    </div>

    <!-- bottom navigations -->
    <div
      class="col-12 w-100 fixed-bottom text-center"
      style="height: 8vh !important"
    >
      New Todo
    </div>
  </div>
</section>

<!-- for dataset-id -->
<template>
  <div>
    <!-- here we save card dataset id... so that we can compare it with localstorage -->
  </div>
</template>
{% endblock %}
