{% extends 'base.html' %}

{% block title %}
    TODO home
{% endblock %}

{% block link %}
  <script defer>
    
    window.addEventListener('load',()=>{

      window.oncontextmenu = function(e) {
        e.preventDefault();
      }

    })

  </script>
{% endblock %}

{% block content %}

    <section class="body my-5 py-5">

      <!-- <div class="list-group">
        <li class="list-group-item list-group-item-action p-0">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Cras justo odio</h5>
              <p class="card-text text-muted">This is a longer card with supporting text below.</p>
            </div>
          </div>
          
        </li>
        <li  class="list-group-item list-group-item-action">Dapibus ac facilisis in</li>
        <li  class="list-group-item list-group-item-action">Morbi leo risus</li>
        <li  class="list-group-item list-group-item-action">Porta ac consectetur ac</li>
        <li  class="list-group-item list-group-item-action">Vestibulum at eros</li>
      </div> -->

      <div class="card-deck rounded bg-info">

            <div class="row no-gutters">

              <div class="col-12 col-md-4 col-lg-3 p-1 m-0">
                
                <div class="card w-100 h-100">
                  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                  
                <div class="card-body" data-id="0">
                    <h5 class="card-title">hey everyone</h5>
                    <p class="card-text">testing the card functionality additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>

              </div>

              <div class="col-12 col-md-4 col-lg-3 p-1 m-0">
                
                <div class="card w-100 h-100">
                  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                  
                <div class="card-body" data-id="1">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
                
              </div>
              
              <div class="col-12 col-md-4 col-lg-3 p-1 m-0">
                
                <div class="card w-100 h-100">
                  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                  
                <div class="card-body" data-id="2">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
                
              </div>

              <div class="col-12 col-md-4 col-lg-3 p-1 m-0">
                
                <div class="card w-100 h-100">
                  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                  
                <div class="card-body" data-id="3">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
                
              </div>

              <div class="col-12 col-md-4 col-lg-3 p-1 m-0">
                
                <div class="card w-100 h-100">
                  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                  
                <div class="card-body" data-id="4">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
                
              </div>

              <div class="col-12 col-md-4 col-lg-3 p-1 m-0">
                
                <div class="card w-100 h-100">
                  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                  
                <div class="card-body" data-id="5">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
                
              </div>

              <div class="col-12 col-md-4 col-lg-3 p-1 m-0">
                
                <div class="card w-100 h-100">
                  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                  
                <div class="card-body" data-id="6">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
                
              </div>

              <div class="col-12 col-md-4 col-lg-3 p-1 m-0">
                
                <div class="card w-100 h-100">
                  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                  
                <div class="card-body" data-id="7">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
                
              </div>

            </div>

      </div>
      
      <!-- bottom navigation -->
      <div class="col-12 w-100 bg-danger fixed-bottom text-center" style="height: 8vh !important;">
        hello world
      </div>

    </section>

    <!-- new TODO form -->
    <section>

      <div class="row no-gutters d-none full_todo_section w-100 h-100">

        <!-- top navigations -->
        <div class="col-12 bg-info fixed-top w-100"  style="height: 8vh !important;">

          <button class="btn btn-default text-dark float-left" id="backButton">
            <i class="fas fa-angle-left"></i>
          </button>       
  
        </div>
              
        <!-- form -->
        <div class="col-12 p-0" style="height: 84vh !important;">

          <form class="d-flex w-100 h-100 p-2 bg-white justify-content-center align-items-start" id="newTodoForm">
  
            <div class="row no-gutters">
    
              <div class="col-12">
    
                <div class="form-group m-0">
                  <input type="text" class="form-control form-control-lg" id="formTitle" placeholder="title">
                </div>
    
              </div>
    
              <div class="col-12">
    
                <div class="form-group">
                  <textarea name="form-textArea" id="formTextarea" class="form-control w-100" placeholder="type here"></textarea>
                </div>
    
              </div>
    
              <button type="submit" class="btn btn-primary">submit</button>
            </div>
    
          </form>

        </div>

        <!-- bottom navigations -->
        <div class="col-12 w-100 bg-danger fixed-bottom text-center" style="height: 8vh !important;">
          hello world
        </div>

      </div>

      

     
    </section>


    <!-- for dataset-id -->
    <template>
      <div> <!-- here we save card dataset id... so that we can compare it with localstorage --></div>
    </template>
{% endblock %}